@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@200&family=Montserrat:wght@300&display=swap');

/*stockage des couleurs depuis figma*/

:root {
    --title-color: #CE0033;
    --background-firstsection: #FAFAFA;
    --white: #FFFFFF;
    --Black: #000000;
    /* text configuration */
    --nav-font: 'inter';
}

* {
    margin: 0;
    padding: 0;
}
/* hedear */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: var(--white);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 20px 25px;
}
.nav__item {
    text-decoration: none;
    color: black;
    /* Vous pouvez ajuster la police comme vous le souhaitez */
    position: relative;
    /* Position relative pour le pseudo-élément */
    transition: color 0.3s;
    font-family: var(--nav-font);
    /* Animation de couleur au survol */
    font-size: 22px;
    margin-right: 30px;
}
.nav__item::after {
    content: '';
    /* Le contenu est vide, car nous créons une ligne */
    position: absolute;
    /* Position absolue pour le pseudo-élément */
    left: 0;
    /* Début de la ligne */
    bottom: -45px;
    /* Distance de la ligne par rapport au texte */
    width: 100%;
    /* La ligne s'étend sur toute la largeur du lien */
    height: 4px;
    /* Épaisseur de la ligne */
    background-color: var(--title-color);
    /* Couleur de la ligne (vous pouvez la personnaliser) */
    transform: scaleX(0);
    /* Échelle horizontale initiale pour cacher la ligne */
    transition: transform 0.3s;
    /* Animation de l'échelle au survol */
}

.nav__item:hover,
.nav__item:focus {
    color: var(--title-color);
    border-bottom: solid 5px #CE0033;
}

.nav__item:focus::after {
    transform: scaleX(1);
}

.header__end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.login-button {
    background-color: var(--title-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-right: 30px;
    font-family: var(--nav-font);
    font-size: 1.25rem;
}

.login-button a {
    text-decoration: none;
    color: var(--white);
}

.logo {
    height: 4.5rem;
    width: 9.36rem;
    margin-left: 2.5rem;
    margin-top: 0.63rem;
}

span {
    font-family: var(--nav-font);
    font-size: 1.25rem;
}

.header__end i {
    color: var(--title-color);
    cursor: pointer;
    margin-left: 20px;
}