@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Manrope:wght@200&family=Montserrat:wght@300&display=swap');

:root {
    --title-color : #CE0033;
    --background-firstsection : #FAFAFA;
    --white : #FFFFFF;
    --Black : #000000;
    /* text configuration */
    --nav-font : 'inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header -----------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img_header {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

header a {
    text-decoration: none;
    color: black;
    position: relative; /* Position relative pour le pseudo-élément */
    transition: color 0.3s;
    font-family: var(--nav-font); /* Animation de couleur au survol */
    font-size: 22px;
    margin-right: 30px;
}

header a::after {
    content: ''; /* Le contenu est vide, car nous créons une ligne */
    position: absolute; /* Position absolue pour le pseudo-élément */
    left: 0; /* Début de la ligne */
    bottom: -49px; /* Distance de la ligne par rapport au texte */
    width: 100%; /* La ligne s'étend sur toute la largeur du lien */
    height: 4px; /* Épaisseur de la ligne */
    background-color: var(--title-color); /* Couleur de la ligne (vous pouvez la personnaliser) */
    transform: scaleX(0); /* Échelle horizontale initiale pour cacher la ligne */
    transition: transform 0.3s; /* Animation de l'échelle au survol */
}

.nav__item:hover,
.nav__item:focus {
    color: var(--title-color);
}

header a:focus::after {
    transform: scaleX(1);
}

.header__end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header__end select {
    border: none;
    background: none;
    font-size: 1.25rem;
    color:#CE0033;
}

.login-button {
    background-color: var(--title-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-right: 30px;
    font-family: var(--nav-font);
    font-size: 1.25rem;
}

/*body ----------------------------------------------------*/

.section__1 {
    background-image: url(../Images/bg-section-1.png);
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elem-section-1 {
    width: 100%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 115px 180px;
}

.elem-section-1 h1 {
    font-size: 70px;
    color: #FAFAFA;
    margin-bottom: 30px;
}

.elem-section-1 p {
    font-size: 22px;
    color: #FAFAFA;
    margin-bottom: 30px;
}

.elem-section-1 button {
    background-color: var(--title-color);
    color: var(--white);
    border: none;
    padding: 23px 33px;
    border-radius:9999px;
    cursor: pointer;
    font-family: var(--nav-font);
    font-size: 1.25rem;
    font-weight: bold;
}

.section__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    padding-top: 100px;
    gap: 70px;
}

.img-section2 {
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 40px;
}
.text-section2 {
    max-width: 50%;
}

.text-section2 h1 {
    font-size: 40px;
    color: #CE0033;
    margin-bottom: 30px;
}

.text-section2 p {
    font-size: 23px;
    line-height: 40px;
}

/*section4 -------------------------------------------------------------*/

.nouvelle  {
    position: absolute;
    background: var(--primary-color3);
    align-items: center;
    margin-bottom: 50px;
    width: 99%;
    height: 160vh;
    justify-content: center; 
   }
   .nouvelle .container  {
    position: relative;
    background: var(--primary-color3);
    padding: 9vh 93vh ;
   }
  
  
   
  .nouvelle .peda-plier { 
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vh; 
    text-align: left;
    display: flex;
    width: 5%;  
    margin:0 1vh;
  
   }
   .nouvelle .peda-plier {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vh; 
    text-align: left;
    display: flex;
    width: 5%;  
    margin:0 1vh;
  
   }
            
  .nouvelle .peda-plier .box-plier {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh; 
    width:58vh;
    height: 38vh;
    text-align: left;
    position: relative;
    margin:0 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .nouvelle  h2{
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--title-color);
    position: relative;
    padding: 12vh 0;
    width: 20rem;
  
  }
            
  .nouvelle .row {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
   }
  
  .nouvelle .row  .actu{
    font-size: 6vh;
    font-weight: bolder;
    font-family: cursivex ;
    color: var(--title-color);
    position: relative;
    padding: 1vh 0;
    padding-left: 200px;
  margin-left: -44rem;
  
  }
  
  .nouvelle .row  .date{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    background: var(--title-color);
    position: absolute;
  margin-left: 13rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  color: #ffffff;
  height: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  bottom: 11rem;
  padding: 5px 6px;
  
  }
            
  .nouvelle .peda-plier .date p {
     padding-top: 8px;
    position: relative;
    font-size: 12px; 
    font-family: fantasy;
    bottom: 12px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  
   }
   
  
            
  .nouvelle .peda-plier .box-plier .numb {
     
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: left;    
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    top: 2vh;
  
   }
  
   .nouvelle .peda-plier .box-plier .numb  img{
     
  width: 37vh;
  border-radius: 10px;
  height: 13rem;
   
   }
            
  .nouvelle .peda-plier .box-plier h3 {
     padding-top: 10px;
     padding-bottom: 10px;
    position: relative;
    font-size: 2vh; 
    /* font-family: fantasy; */
    top: 1vh;
  
   }
  
            
  .nouvelle .peda-plier .box-plier .desc {
     padding-bottom: 20px;
    position: relative;
    font-size: 2vh; 
    font-family: fantasy;
    top: 1px;
    color: #464545;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .nouvelle  .plus{
    margin-top: 50px;
    font-size: 3vh;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: #CE0033;
    position: absolute;
    padding: 2vh 122px;
    width: 30rem;
    right: 0;
  
  }
  
  .nouvelle  .grid-container {
    display: grid;
    grid-template-columns: 44% 44% ;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
  }
  .nouvelle  .grid-item {
    background-color: var(--primary-color);
    padding: 20px;
    font-size: 22px;
    text-align: left;
    margin: 2rem;
    display: flex;
  }
  
  
  .nouvelle .grid-container  .date{
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  margin-left: 1rem;
  
  color: #ffffff;
  height: 3rem;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding: 18px 6px;
  
  }
            
  .nouvelle .grid-container .date p {
     
    position: relative;
    font-size: 12px; 
    font-family: fantasy;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  
   }
  
          
  .nouvelle .grid-container .next{
     
    position: relative;
    font-size: 22px; 
    font-family: fantasy;
    bottom: 12px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width:18rem   ;
    padding: 12px 28px;
  
  
   }
   .nouvelle .grid-container .next h3{
     
    position: relative;
    font-size: 22px; 
    font-family: fantasy;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
    width: 18rem   ;
  
   }
   .nouvelle .grid-container h3 i{
     
    font-size: 21px; 
    color: #ffffff;
  
   }
   .nouvelle .grid-container  .i{
    font-size: 21px; 
    font-size: 52px;
    color: #ffffff;
    margin: 3rem 2rem;
  
   }
  
   .nouvelle   .actu2{
    font-size: 4vh;
    font-family: cursivex ;
    color: var(--primary-color);
    position: relative;
    padding:0 198px ;
    padding-top: 4rem;
  
  }
  .nouvelle  .decouve{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--primary-color);
    position: absolute;
    padding: 220px 12px;
    width: 20rem;
    right: 0;
    bottom: 0;
  
  }
.section__4 {
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.trait {
    width: 70px;
    height: 3px;
    background-color: white;
}

.card-section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.title-section4 {
    font-size: 40px;
    color: #CE0033;
    margin-left: 90px;
    margin-top: 100px;
}

.div-left h1 {
    font-size: 40px;
}

.div-left p {
    font-size: 18px;
}

.card-s4 {
    display: flex;
    flex-direction: row;
    max-width: 40%;
    justify-content: space-around;
    background-color: #CE0033;
    color: #FAFAFA;
    align-items: center;
    padding: 30px 30px;
    gap: 20px;
    border-radius: 10px;
}

.div-right {
    background-color: #FAFAFA;
    padding: 30px 30px;
    border-radius: 100%;
}

.div-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-middle p {
    font-size: 28px;
}
.section__4 h4{
    /* margin-top: 50px; */
    font-size: 3vh;
    padding-left: 1000px;
    /* display: flex; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow';*/
    color: #CE0033; 
    /* position: absolute;
    padding: 2vh 122px; */
    /* text-align: right; */
    /* align-items: center;
    width: 30rem;
    right: 0; */
}
/* decouverte */
.evolution{
    background:rgba(0,0,0,0.5)url("../Images/Decouverte.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
    padding: 80px;
    padding-bottom: 300px;
    color:white;
}
.evolution h2{
    color: white;
    font-weight: bolder;
    font-size: 60px;
}
.evolution p{
    font-size: 25px;
    line-height: 1.7;
}
.triple_caisse{
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* background: url(../Images/Group11.png); */
    background: #CE0033;
    /* opacity: 0.5; */
    width: 800px;
    height: 200px;
    /* background-repeat: no-repeat; */
    align-content: center;
    position: relative;
    width: 1098px;
    bottom:110px;left: 150px;

}
.triple_caisse h3{
    
  font-size: 50px;
  margin-bottom: 0;
}
.mini_caisse{
    margin-top: 30px;
    text-align: center;
}



/* formateurs -------------------------------------------------*/
.formateurs  h2{
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--title-color);
    position: relative;
    padding: 12vh 0;
    width: 20rem;


  }
  .formateurs  .blog{

    display: block;
    align-items:start;
    text-align:left;
    justify-content: left;

  }
  .formateurs  .blog .actu2{
    color: #CE0033;
    display: block;
    align-items:start;
    text-align:left;
    justify-content: left;
    padding-bottom: 80px;

  }
  .next hr{
    width: 200px;
    height: 3px;
    background: #000000;
  }
  .formateurs  .blog .actu2 hr{
height: 5px;
background: black;
  }
  .formateurs .row {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
   }

  .formateurs .row  .actu{
    font-size: 4vh;
    font-family: cursivex ;
    color: var(--primary-color);
    position: relative;
    padding: 1vh 0;
  margin-left: -44rem;

  }


  .formateurs  .grid-container {
    gap: 5rem;
    display: grid;
    grid-template-columns: 34% 34% ;
    /* padding: 10px 0px; */
    justify-content: center;
    align-items: center;
    /* height: 20%; */
  }
  .formateurs  .grid-item {
    /* background-color: white; */
    padding: 50px 0;
    font-size: 22px;
    text-align: left;
    margin-right: 100px;
    display: flex;
    border-radius: 12px;
    /* border: #f0f0f0 solid 1px; */
    box-shadow: 1px 10px 15px 1px rgba(0,0,0,0.1);
  }


  .formateurs .grid-container  .profil{
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  margin  : -6rem;

  color:black;
  height: 3rem;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding: 1px 6px;

  }

  .formateurs .grid-container .profil img {
  position: relative;
  width: 10rem;
  height: 13rem;
  border-radius: 23px;

   }
.formateurs .grid-container .next{

    position: relative;
    font-size: 15px; 
    font-family: fantasy;
    bottom: 12px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    width:3rem;
    padding: 12px 120px;
   }
   .formateurs .grid-container .next p{
    width: 15rem;
   }
   .formateurs .grid-container .next h3{

    position: relative;
    font-size: 28px; 
    font-family: fantasy;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
    width: 18rem   ;

   }
   .bouton-formateur{
/* ;
height: 50px;
padding-top: 50px; */
    width: 7rem;
    position: absolute;
    color: #e6e6e6;
    margin-left: 14rem;
    text-decoration: none;
    font-size: 21px; 
    background: #CE0033;
    border-radius: 33px;
    /* font-family: fantasy;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
    
     */
    /* padding: 9px  20px;
    right: 60px; */

   }
   .formateurs .grid-container h3{

    font-size: 21px; 
    color: #ffffff;

   }
   .formateurs .grid-container  .bar{
      font-size: 52px;
    background: #ff0d0d;
    width: 1vh;
    height: 9vh;
    margin: -10vh -15vh;
    z-index: 22;

   }

   .formateurs   .actu2{
    font-size: 4vh;
    font-family: cursivex ;
    color: var(--primary-color);
    position: relative;
    padding:0 198px ;
    padding-top: 4rem;

  }
  .formateurs  .decouve{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--primary-color);
    position: absolute;
    padding: 220px 12px;
    width: 20rem;
    right: 0;
    bottom: 0;

  }

  /* petit histoire -----------------*/
  .pthisto{
    margin-top: 50px;
    padding-left: 50px;
  }
  .pthisto h1{
        font-size: 50px;
        color: #CE0033;
        padding-bottom: 20px;
  }
  .pthisto hr{
    width: 200px;
    height: 5px;
    background: #000000;
  }
.cardhisto{
    display: flex;
    flex-direction: column;
}
.imgleg img{
    width: 20%;
}
/*section--------------------------------------------------------------9*/
.title-section9 {
    text-align: center;
    font-size: 45px;
    color: #CE0033;
    padding-bottom: 80px;
    margin-top: 120px;
}

.img-form {
    width: 40px;
    height: 40px;
}

.general {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;
}

.card h1 {
  font-size: 40px;
}

.field {
    font-family: var(--nav-font);
    color:darkgray;
    text-align: start;
    margin-top: 20px;
    margin-left: -7px;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--title-color);
    border-radius: 30px;
    width: 150px;
    padding: 10px 15px;
    color: var(--white);
    font-family:var(--nav-font);
    margin-left: 230px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.type-text {
    display: flex;
    gap: 20px;
}

.type-text input {
    flex-direction: row;
    width: 260px;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.personnal-info input {
    width: 260px;
    padding: 25px 25px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.personnal-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.section__7__block2 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}



textarea {
    width: 540px;
    padding: 25px 25px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
}

.policy {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 15px;
}

.policy h2 {
    font-family: var(--nav-font);
    font-size: 15px;
}

.button-form {
    background-color: var(--title-color);
    color: var(--white);
    width: 150px;
    font-family: var(--nav-font);
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}





/* footer */

footer {
    background-image: url(../Images/footer.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    color: var(--white);
    margin-top: 110px;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px;
}

.footer__top h1 {
    font-size: 40px;
    font-family: var(--nav-font);
}

.container__footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icone-chane {
    height: 42px;
    width: 34px;
    object-fit: contain;
}

.footer__top__left {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    margin-bottom: 30px;
}

.icone-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer__top__middle__left nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer__top__middle__left nav a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    font-family: var(--nav-font);
    margin-bottom: 19px;
}

.footer__top__middle__rigth {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__top__middle__rigth p {
    margin-left: -2px;
    font-family: var(--nav-font);
    line-height: 40px;
}

.footer__top__middle__rigth address {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: var(--nav-font);
}

.footer__top__right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__top__right p {
    font-family: var(--nav-font);
    margin-left: -4px;
    margin-bottom: 50px;
}

.footer__top__right h1 {
    margin-bottom: 35px;
}

.email-footer {
    display: flex;
}

.email-footer input {
    padding: 15px 25px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 5px 16px rgba(248, 247, 247, 0.3);
}

.email-footer button {
    padding: 15px 25px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--title-color);
    color: var(--white);
    font-family: var(--nav-font);
    border: none;
    cursor: pointer;
}

.footer__bottom {
    background-color: var(--title-color);
    padding: 30px 40px;
    font-family: var(--nav-font);
}